In [19]:
import pandas as pd

In [36]:
df = pd .read_csv("eng.testa.true_labels.csv",header=None)

In [37]:
df.head()

       0
0  I-PER
1      O
2  I-PER
3      O
4      O

In [38]:
def transform(x):
    if "PER" in x:
        return 1
    return 0

In [39]:
df =df[0].apply(transform)

In [40]:
df .head()

0    1
1    0
2    1
3    0
4    0
Name: 0, dtype: int64

In [41]:
df = pd.DataFrame (df)

In [42]:
df.head()

   0
0  1
1  0
2  1
3  0
4  0

In [43]:
df.to_csv ('bilass-eng.testa.true_labels.csv',index=False)